<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Red Social</title>
		<link rel="stylesheet" href="style3.css" />
	</head>
	<body>
		<div class="Titulo">
			<h1>Apuntes</h1>
		</div>
		<div class="text1">
			<p>Los apuntes estarán organizados en carpetas por asignatura, y dentro de cada carpeta encontrarás documentos que contienen los apuntes escaneados por temas (cada documento un tema). Todos podrán acceder a las carpetas para ver los títulos y contenidos disponibles, pero no podrán abrir los documentos con los apuntes hasta que realicen el pago. Si lo solicitas, podemos mostrarte una página de los apuntes para que veas cómo son y decidas si te interesan. </p>
			<p>Los apuntes se venderán por temas o asignaturas, y con cada compra acumularas un 5% de descuento para tu próxima compra de apuntes. Por ejemplo, si compras unos apuntes por 10 €, la próxima vez que compres, te costarán un 5% menos, es decir, 9,50 €, luego 9€, 8,50€ y así sucesivamente hasta que puedas adquirir los apuntes gratis.</p>
			<p>Si lo prefieres, también puedes solicitar los apuntes en formato físico (impresos). Para ello, simplemente tendrás que contactarnos y te explicaremos los detalles.</p>
			<p>Como a todos nuestros productos también le afectan nuestros Terminos y Condiciones ya que prestar atención en clase y tomar unos buenos apuntes requiere esfuerzo y tiempo</p>
		</div>
		<script src="apuntes.js"></script>
	</body>
</html>
