<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Red Social</title>
		<link rel="stylesheet" href="style2.css" />
	</head>
	<body>
		<main>
			<div class="Titulo">
				<h1>Aula +</h1>
			</div>
	
			<nav class="nav1">
				<ul>
					<li class="apuntes_drop">
						<a href="/apuntes" class = "apuntes" id="apuntes">Apuntes</a>
						<div class="apuntes_content">
							<a href="">Informatica</a>
							<a href="">Sociales</a>
							<a href="">Fsisica y Quimica</a>
							<a href="">Geologia y Biologia</a>
							<a href="">Castellano</a>
							<a href="">Catalan</a>
							<a href="">Francés</a>
							<a href="">Ingles</a>
							<a href="">Matematicas</a>
							<a href="">Musica</a>
						</div>
					</li>
					<li><a href="/esquemas" id="esquemas">Esquemas</a></li>
					<li><a href="/clases">Clases</a></li>
					<li><a href="/agenda">Agenda digital</a></li>
					<li><button id="contactoBtn"><a href="/home">Opiniones</a></button></li>
					<li><a href="/superuser">Superusuario</a></li>
				</ul>
			</nav>
	
			<div class="text1">
				<h3>En esta página web, los creadores (Àlex, Gabriel e Irene) ofrecemos contenido relacionado con Aula que los estudiantes podréis comprar y recibir en formato PDF o físico.</h3>
				<h3></h3>
				<h3>Vendemos 4 servicios que están explicados cada uno en su apartado y estos son:</h3>
				<ul>
					<li><a href="/apuntes">Apuntes</a></li>
					<li><a href="/esquemas">Esquemas</a></li>
					<li><a href="/clases">Clases</a></li>
					<li><a href="/agenda">Agenda digital</a></li>
				</ul>
				<h3>Este servicio solo esta disponible para el curso Earhart (ESO 4)</h3>
			</div>
			<div id="precios">
				<h1 class="title">Precios y Pagos</h1>
				<nav class="nav2">
					<ul>
						<li class="sub-nav">Precio apuntes de un solo tema</li>
						<nav class="sub-nav1">
							<ul>
								<li>Matematicas:</li>
								<nav class="sub-nav1-1">
									<ul>
										<li>A ordenador: 2€</li>
										<li>A mano: 2,50€</li>
									</ul>
								</nav>
								<li>Física y Química:</li>
								<nav class="sub-nav1-1">
									<ul>
										<li>A ordenador: 3€</li>
										<li>A mano: 3,50€</li>
									</ul>
								</nav>
								<li>Geologia y biologia:</li>
								<nav class="sub-nav1-1">
									<ul>
										<li>A ordenador: 3€</li>
										<li>A mano: 3,50€</li>
									</ul>
								</nav>
								<li>Lenguas:</li>
								<nav class="sub-nav1-1">
									<ul>
										<li>A ordenador: 2€</li>
										<li>A mano: 2,50€</li>
									</ul>
								</nav class="sub-nav1-1">
								<li>Sociales:</li>
								<nav class="sub-nav1-1">
									<ul>
										<li>A ordenador: 3€</li>
										<li>A mano: 3,50€</li>
									</ul>
								</nav>
							</ul>
						</nav>
						<li class ="sub-nav">Precio por apuntes durante todo el año por asignatura (a ordenador)</li>
						<nav class="sub-nav1">
							<ul>
								<li>Matematicas: 11€</li>
								<li>Física y Química: 12€</li>
								<li>Geologia y biologia: 12€</li>
								<li>Lenguas: 10€</li>
								<li>Sociales: 12€</li>
							</ul>
						</nav>
						<li class="sub-nav">Precios de clases</li>
						<nav class="sub-nav1">
							<ul>
								<li>Clase de 30 min: 3€</li>
								<li>Clase de 60 min: 7€</li>
							</ul>
						</nav>
						<li class = "sub-nav">Agenda digital durante todo el curso: 10€</li>
						<li class="sub-nav">Esquemas</li>
						<nav class="sub-nav1">
							<ul>
								<li>1,50€ por unidad</li>
								<li>Personalizado segun el tema, examen y preferencias del estudiante</li>
							</ul>
						</nav>
						<li class="sub-nav">A quien tengo que pagar y de qué forma?</li>
						<nav class="sub-nav1">
							<ul>
								<li>Bizum: +34 669 57 71 81</li>
								<li>Pagos presenciales: Irene, Àlex o Gabriel</li>
							</ul>
						</nav>
							</ul>
						</nav>
					</ul>
				</nav>
				<h1 class ="sub-nav">¡Importante!</h1>
				<p class = "sub-nav1">Al comprar un producto de aula + estas haceptando nuestros terminos y condiciones</p>
			</div>
		</main>

		<footer>
			<p>&copy; Site made by albecas100</p>
			<p>&copy; All rights reserved</p>
			<button id="logout">Logout</button>
		</footer>
		

		<script src="aulaplus.js"></script>
	</body>
</html>
