<!DOCTYPE html>


<html>
    <head>
        <style>
            .Hola{
                width:100%;
                border-radius: 20px;
                display: inline-block;
                display: block;
                margin-bottom: 10px;
            }

            .Images{
                display: flex;
                flex-direction: column;
                transform: translateY(-70px);
                
                height: 500px;
                margin-left: 250px;
                width:450px;
                animation: scrollAnimationRight 1s linear;
                animation-timeline: view();
                animation-range:entry -15% cover 30%; /*Weird offset, if 0% animation finished earlier*/
            }
            .ImgApuntes2{
                margin-right:10px;
                height: 100%;
                width:49%;
                display: inline-block;
                
                
            }
            .Container{
                display: inline-block; /*esto esta aqui pq en el CSS no se guarda la propiedad, ns pq*/
            }
            .ImagenesVerticales{
                display: flex;
                flex-direction: row;
            
            }
            .QueHacemosMasImagenes{
                display: flex;
                flex-direction: row;

            }
            .textoPagos{
                transform: translateY(70px-);
            }
            footer {
                display: flex;
                background-color: #f0f0f0;
                padding: 20px;
                text-align: center;
                font-size: 0.9em;
                color: #555;
                border-top: 1px solid #ddd;
                flex-direction: row;
                justify-content: space-around;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="icon" type="image/png" href="imgs/Aula+_logo.jpg">

        <link rel ="stylesheet" href="test.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>
    <body>
        <main>
            <div class="colorone">
                <div class="toolbar"> 
                    <ul class="options">
                        <li class="Asignaturas">Mis Apuntes</li>
                        <li class="Clases">Clases</li>
                        <li class="Agenda_Digital">Agenda digital</li>
                        <li class="Opiniones">Opiniones</li>
                        <li class="SuperUsers">Super Users</li>
                        <li class="user" id="user_name">User</li>

                    </ul>
                </div>
                <p class="Title">Aula+ </p>
                <p class="Slogan">Learn Smarter, Not harder.</p>
                <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="100">
                        <path d="M26.29 20.29 18 28.59V0h-2v28.59l-8.29-8.3-1.42 1.42 10 10a1 1 0 0 0 1.41 0l10-10z" data-name="2-Arrow Down" fill="white"/>
                    </svg>
                </div>
            

            </div>


            <div class="other_color">
                <p class="avgTitle">¿Qué hacemos?</p>
                <div class="QueHacemosMasImagenes">
                    <div class="Container">
                        <p class="textQueHacemos">En esta página web, los creadores (Àlex, Gabriel e Irene) ofrecemos contenido relacionado con Aula que los estudiantes podréis comprar y recibir en formato PDF o físico.
                            Vendemos 4 servicios que están explicados cada uno en su apartado y estos son:
                            -Apuntes
                            -Esquemas
                            -Clases
                            -Una agenda digital
                            Este servicio solo esta disponible para el curso Earhart (ESO 4)
                        </p>
                    </div>
                    <div class="Images">
                        <img src="https://mrpaper.es/modules/ph_simpleblog/covers/7.jpg" class="Hola"></img>

                        <div class="ImagenesVerticales"> 
                            <img src="imgs/Apuntes2.jpg" class="ImgApuntes2"></img>
                            <img src="imgs/Apuntes3.jpg" class="ImgApuntes2"></img>
                        
                        </div>
                    

                    </div>
                </div>
                <div class="PreciosYPagos">

                    <div class="avgTitle">Precios y pagos</div>

                    <div class="Container2">
                        <p class="textQueHacemos">Un solo tema</p>
                        <ul class="ListaPrecios">

                            <li class="textoPagos">Matemáticas: 2.5€</li>
                            <li class="textoPagos">Física y Química: 3.5€ </li>
                            <li class="textoPagos">Geología y Biología: 3.5€</li>
                            <li class="textoPagos">Lenguas: 2.5€</li>
                            <li class="textoPagos">Sociales: 3.5€</li>
                            <li class="textoPagos">Informática: 3.5€</li>

                        </ul>

                        <p class="textQueHacemos">Todo el año</p>
                        <ul class="ListaPrecios">

                            <li class="textoPagos">Matemáticas: 11€</li>
                            <li class="textoPagos">Física y Química: 12€ </li>
                            <li class="textoPagos">Geología y Biología: 12€</li>
                            <li class="textoPagos">Lenguas: 10€</li>
                            <li class="textoPagos">Sociales: 13€</li>
                            <li class="textoPagos">Informática: 12€</li>
                        
                        </ul>
                        <p class="textoTipoPago">Pagos</p>
                        <p class="textoTipoPago"> ¿A quién tengo que pagar y de qué forma?</p>
                        <p class="textoTipoPago">Bizum --> +34 669 57 71 81</p>
                        <p class="textoTipoPago">Físico a Gabriel, Àlex o Irene, como mínimo monedas de 50 céntimos</p>
                    </div>

                </div>
                </div>


            </div>
        </main>

        <footer>
			<p>&copy; Site made by: Albecas100 & Gabriel Cereto</p>
			<p>&copy; All rights reserved</p>
			<button id="credits">Creditos</button>
		</footer>

        <script src="aulaplus.js"></script>

    </body>
</html>