<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Red Social</title>
		<link rel="stylesheet" href="styleme.css" />
	</head>
    <body>
        <header class="user-header">
            <h1 id="username"></h1>
            <button id="back-button" class="back-btn">← Back</button>
        </header>

        <div class="hola">
            <h3>Email:</h3>
            <p id="mail"></p>
        </div>

        <div id="hola">
            <h2>Opciones:</h2>
            <button id="logout" class="logout-btn">Cerrar sesión</button>
            <button id="change-password">Cambiar contraseña</button>
            <button id="change-email">Cambiar correo electrónico</button>
            <button id="delete-account">Eliminar cuenta</button>
        </div>

        <script src="/me.js"></script>
    </body>
</html>