<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Down</title>
</head>
<body>
    <h1>Aula +</h1>
    <h2>Nuestros servidores están caídos!</h2>
    <h3>Si tarda mucho en volver a estar en línea, contacta a un administrador</h3>
    <p>Disculpa las molestias</p>
</body>
</html>