
@font-face { /*Create/import downloaded font*/
    font-family: "Lactos";
    src: url(DxLactos-Regular-free-personal-use.otf);
}


@keyframes scrollAnimation{
    from{
        opacity: 0;
        transform: translateX(-100px);

    }

    to{
        opacity: 1;
        transform: translateX(140px);
    }
}

@keyframes textScrollAnimation{
    from{
        opacity: 0;
        transform: translateX(-100px);
        display: hidden;

    }

    to{
        display:block;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes scrollAnimationRight{

    from{
        opacity: 0;
        transform:translateX(100px);

    }

    to{
        opacity: 1;
        transform: translateX(10px);
        transform: translateY(-70px);        
    }
}
@media (max-width: 1920px) {

        body{
            display: flex;
            flex-direction: column;
            align-content: center;
            padding: 0;
            margin:0;
            overflow-x: hidden;
        }
        .colorone {
            background-color: rgb(64,93,114);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100vh; /*vh is viewport hright (I guess)*/
            width: 100%;
            overflow: hidden;
        }
        
        .other_color{
            display: flex;
            flex-direction: column;
            height: 230vh;
            background-color: rgb(247,231,220);
        }
        .Title{
        
            font-family: "Lactos";
            color: #F3F3F3;
            font-size: 400px;
            align-self: baseline;
        
            margin-top: 200px;
            margin-bottom: 0;
            margin-left: 50px;
            height: 350px;
        
        
        }
        
        .toolbar{
        
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 70px;
            background-color: #3275a8;
            align-self: baseline;
            position: absolute;
            top: 0;
            left: 0;
            
        }
        
        .Asignaturas{
        
            margin-top: 8px;
            font-family: "Poppins",sans-serif;
            width:200px;
           
        }
        
        
        .options{
            display: flex;
            width: 500px;
        }
        
        
        .options li{
            cursor: pointer;
            color:white
        }
        
        .options ul{
            cursor: pointer;
            top:100%;
            visibility: hidden; /*not interactable when hidden*/
            opacity: 0;
            display: block;
            border:none;
            font-size:15px;
            transition: opacity 0.5s;
            pointer-events: none;
        }
        
        
        .options li:hover ul{
            cursor: pointer;
            display: block;
            background-color: rgba(50,117,168,0.75);
            width:150px;
            height:370px;
            border: solid white;
            margin-top:5px;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            
            color:rgba(255, 255, 255,1);
        
        
        }
        
        
        
        
        .options ul li{
            margin-top:15px;
        
        }
        
        .options ul li:hover{
            background: #2b648f;
        }
        
        .AsignaturaDesplegable{
            position: absolute;
            top: 100%;
        }
        .Clases{
            
            margin-top:8px;
            position: static;
            font-family: "Poppins",sans-serif;
            width:50px;
            display: inline-flex,list-item; /*list-item makes it behave as a list (ul, ol) and it has the dot*/
            margin-left: 20px;/*btw ul is Unordered List and ol is Ordered List, I guess*/
            
        }
        
        .Agenda_Digital{
        
            margin-top: 8px;
            position: static;
            font-family: "Poppins",sans-serif;
            width:150px;
            display: inline-flex,list-item; /*list-item makes it behave as a list (ul, ol) and it has the dot*/
            margin-left: 60px; /*btw ul is Unordered List and ol is Ordered List, I guess*/
            
        }
        
        .arrow{
        
            position: absolute;
            
            top:80%;
            left:48%;
        }
        
        .toilet{
            height: 75px;
            width:300px;
            background-color: brown;
            border-color: #F3F3F3;
            animation: scrollAnimation 1s linear;
            animation-timeline: view();
            animation-range:entry 0% cover 60%;
        }
        
        .avgTitle{
        
            display: block;
            font-family: "Poppins",sans-serif;
            font-weight: bold;
            color: black;
            font-size: 100px;
            margin-left: 50px;
            animation: textScrollAnimation 1s linear;
            animation-timeline: view();
            animation-range:entry 0% cover 60%;
        }
        
        .Container{
            
            height:500px;
            width:57%;
            background: linear-gradient(180deg, rgba(52,59,135,1) 19%, rgba(26,102,208,1) 100%);
            border-radius: 20px;
            transform: translateX(140px);
            margin-left: 0px;
            padding-top: 30px;
            margin-top:-70px;
        
                
            animation: scrollAnimation 1s linear;
            animation-timeline: view();
            animation-range:entry 0% cover 50%;
            
        }
        .textQueHacemos{
            color:white;
            font-size: 20px;
            margin-left: 40px;
            width:700px;
            font-family: "Poppins";
            margin-bottom: 50px;
        
        
        }
        .ImgApuntes1{
            width: 100px;
            height: 100px;
            background-image: url("Aula+/imgs/ImgApuntes1.jpg");
        }
        
        .textoPagos{

            color:white;
            font-size: 20px;
            margin-left: 40px;
            width:700px;
            font-family: "Poppins";
            margin-bottom: 50px;
        }
        .PreciosYPagos{
            display: grid;
            grid-template-columns:2000px;
            grid-template-rows: 250px 600px;
        }
        .Container2{
        
            height:800px;
            width:57%;
            background: linear-gradient(180deg, rgba(52,59,135,1) 19%, rgba(26,102,208,1) 100%);
            border-radius: 20px;
            transform: translateX(140px);
            margin-left: 0px;
            padding-top: 30px;
        
            animation: scrollAnimation 1s linear;
            animation-timeline: view();
            animation-range:entry 0% cover 50%;
            
        }
        .ListaPrecios{
            margin-left: 40px;
        }
        
        .ListaPrecios li{
            margin-bottom: 20px;
        }
    }

@media only screen and (max-width:600px){
    
    @keyframes scrollAnimation{
        from{
            opacity: 0;
            transform: translateX(-100px);
    
        }
    
        to{
            opacity: 1;
            transform: translateX(50px);
        }
    }

    body{
        width: 100%;
        overflow-x: none;
    }
    .colorone{
        width: 100%;
        background-color: rgb(64,93,114);

    }
    .toolbar{
        width: 100%;
    }
    .Title{
        font-size: 130px;
    }
    .arrow{
        position:absolute;
        top:80%;
        left: 37%;
        
    }
    .avgTitle{
        font-size: 40px;
        display: block;
        margin-bottom: 0px;
        
    }
    .Container{
        margin-top: 20px;
        margin-left: -20px;
        min-width: 350px;
        transform: translateX(50px);
        margin-bottom: 40px;
    
    }
    .textQueHacemos{

        font-size: 20px;
        width: 300px;
        margin-left: 50px;
    }

    .Container2{
        margin-top: -170px;
        width: 350px;
        margin-left: 0px;
        transform: translateX(36px);

        animation: scrollAnimation 1s linear;
        animation-timeline: view();
        animation-range:entry 0% cover 40%;
        
    }

    .textoPagos{
        margin-top: 0px;
        font-size: 15px;
        margin-left: 10px;
    }
    
    .Asignaturas{
        
        margin-top: 0px;
        font-family: "Poppins",sans-serif;
        width:100px;
       
    }
    .Clases{
            
        margin-top:0px;
        position: static;
        font-family: "Poppins",sans-serif;
        width:50px;
        display: inline-flex,list-item; /*list-item makes it behave as a list (ul, ol) and it has the dot*/
        margin-left: 20px;/*btw ul is Unordered List and ol is Ordered List, I guess*/
        
    }
            
    .Agenda_Digital{
        
        margin-top: 0px;
        position: static;
        font-family: "Poppins",sans-serif;
        width:150px;
        display: inline-flex,list-item; /*list-item makes it behave as a list (ul, ol) and it has the dot*/
        margin-left: 60px; /*btw ul is Unordered List and ol is Ordered List, I guess*/
        
    }
    
    


}


footer {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #ddd;
    flex-direction: row;
    justify-content: space-around;
}